@font-face {
  font-family: 'Futura';
  src: url('resources/fonts/FuturaBook.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('resources/fonts/FuturaBook.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body {
  font-family: 'Futura', sans-serif;
}

.landing {
  height: 100vh;
  position: relative;
  display: flex;
}

.landingelements {
  height: 100%;
}

.customnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: transparent;
  font-size: 18px;
  z-index: 9999;
}

.topbox {
  width: 100%;
  height: 5px;
  background-color: #CFD8DC;
  position: absolute;
  top: 0;
}

.topboxload {
  width: 100%;
  height: 5px;
  background-color: #3F51B5;
  position: absolute;
  top: 0;
  -moz-animation: fullexpand 50s ease-out infinite;
  -webkit-animation: fullexpand 50s ease-out infinite;
}

@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity: 0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.9; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.9; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.9; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.9; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}

.marginnav {
  margin-top: 30px;
}

#element1 {
  margin-right: 7.5px;
  display: none;
}

#element2 {
  margin-left: 7.5px;
  display: none;
}

#getstarted {
  display: none;
}

#getstarted:hover {
  cursor: pointer;
}

.logos {
  display: none;
}

.navelementcontainer {
  display: flex;
  align-items: center;
}

#gatlogo {
  width: 60px;
  margin-right: 7.5px;
}

#phalogo {
  width: 80px;
  margin-left: 7.5px;
}

.elemlink > a {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.elemlink > a:hover {
  color: #4CAF50;
}

.elemlink > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4CAF50;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.elemlink > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


#arrow {
    transition: all 0.4s ease-in;
}

.yellow {
  color: #FFEB3B;
  font-size: 22px;
  margin-left: 2px;
}

#leftside {
  background-color: #E0E0E0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
}

#rightside {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContain {
  top: 0;
  left: 50%;
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#image1 {
  background-image: url("./resources/pha.jpg");
  background-position: left;
  -moz-animation: cycle 50s linear infinite;
  -webkit-animation: cycle 50s linear infinite;
}

#image2 {
  background-image: url("./resources/pha2.jpg");
  background-position: left;
  background-size: cover;
  -moz-animation: cycletwo 50s linear infinite;
  -webkit-animation: cycletwo 50s linear infinite;
}

#image3 {
  background-image: url("./resources/pha3.jpg");
  background-position: left;
  background-size: cover;
  -moz-animation: cyclethree 50s linear infinite;
  -webkit-animation: cyclethree 50s linear infinite;
}

#image4 {
  background-image: url("./resources/pha4.jpg");
  background-position: left;
  background-size: cover;
  -moz-animation: cyclefour 50s linear infinite;
  -webkit-animation: cyclefour 50s linear infinite;
}

#image5 {
  background-image: url("./resources/pha5.jpg");
  background-position: left;
  background-size: cover;
  -moz-animation: cyclefive 50s linear infinite;
  -webkit-animation: cyclefive 50s linear infinite;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #303F9F;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}

#tree {
  width: 200px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
}

.insightcontain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid;
  border-color: black;
  width: 80%;
}

.page2 {
  height: 100vh;
}

.picturecontainer div {
    display:none;
}
.show {
    display:block!important;
}

.avatar {
  padding: 20px;
  width: 100%;
}

.avatarimage {
  border-radius: 50%;
  width: 100%;
}

.footer {
  padding: 40px 40px 0px 40px;
  margin-top: 20px;
  background-image: url("./resources/footerback.jpg");
  background-position: bottom;
  position: relative;
  color: white;
  font-weight: 300;
}

.footeroverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2a2458;
  opacity: 0.8;
  z-index: 0;
}

.half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerdepartmentname {
  margin-top: 15px;
  margin-bottom: 15px;
}

.copyright {
  padding: 50px;
  background-color: white;
  color: #2a2458;
}

.social {
  padding-right: 10px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.social:hover {
  color: yellow;
}

.info {
  font-size: 14px;
}

#phafootlogo {
  width: 80px;
}

#gatfootlogo {
  width: 60px;
}

.whitefooter {
  background-color: white;
  margin: 0px -40px;
  padding: 10px 10px 15px 10px;
  color: #2a2458;
  display: flex;
  justify-content: space-around;
  opacity: 0.6;
}

#left {
  transition: all 0.3s ease-in;
}

#left:hover {
  padding-right: 14px;
}

#right {
  transition: all 0.3s ease-in;
}

#right:hover {
  padding-left: 4px;
}

#middle {
  transition: all 0.3s ease-in;
}

#middle:hover {
  padding: 0px 14px 0px 4px;
}

@media only screen and (max-width: 996px) {
  #element2 {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  #rightside {
    display: none;
  }
  #leftside {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .logos {
    display: none !important;
  }
}

@media only screen and (max-width: 275px) {
  #element1 {
    display: none !important;
  }
}

@-moz-keyframes cycle {
	16% { opacity:1; z-index:0; }
	20% { opacity:0; z-index:0; }
	21% { opacity:0; z-index:-1; }
	92% { opacity:0; z-index:0; }
	96% { opacity:0; }
	100%{ opacity:1; }
}

@-webkit-keyframes cycle {

	16% { opacity:1; z-index:0; }
	20% { opacity:0; z-index:0; }
	21% { opacity:0; z-index:-1; }
	50% { opacity:0; z-index:-1; }
	92% { opacity:0; z-index:0; }
	96% { opacity:0; }
	100%{ opacity:1; }

}

@-moz-keyframes cycletwo {
	0%  { opacity:0; }
	16% { opacity:0; }
	20% { opacity:1; }
	24% { opacity:1; }
	36% { opacity:1; z-index:0; }
	40% { opacity:0; z-index:0; }
	41% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-webkit-keyframes cycletwo {
	0%  { opacity:0; }
	16% { opacity:0; }
	20% { opacity:1; }
	24% { opacity:1; }
	36% { opacity:1; z-index:0; }
	40% { opacity:0; z-index:0; }
	41% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-moz-keyframes cyclethree {
	0%  { opacity:0; }
	36% { opacity:0; }
	40% { opacity:1; }
	44% { opacity:1; }
	56% { opacity:1; }
	60% { opacity:0; z-index:0; }
	61% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefour {
	0%  { opacity:0; }
	56% { opacity:0; }
	60% { opacity:1; }
	64% { opacity:1; }
	76% { opacity:1; z-index:0; }
	80% { opacity:0; z-index:0; }
	81% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefive {
	0%  { opacity:0; }
	76% { opacity:0; }
	80% { opacity:1; }
	84% { opacity:1; }
	96% { opacity:1; z-index:0; }
	100%{ opacity:0; z-index:0; }
}

@-webkit-keyframes cyclethree {
	0%  { opacity:0; }
	36% { opacity:0; }
	40% { opacity:1; }
	44% { opacity:1; }
	56% { opacity:1; z-index:0; }
	60% { opacity:0; z-index:0; }
	61% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefour {
	0%  { opacity:0; }
	56% { opacity:0; }
	60% { opacity:1; }
	64% { opacity:1; }
	76% { opacity:1; z-index:0; }
	80% { opacity:0; z-index:0; }
	81% { opacity:0; z-index:-1; }
	100%{ opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefive {
	0%  { opacity:0; }
	76% { opacity:0; }
	80% { opacity:1; }
	84% { opacity:1; }
	96% { opacity:1; z-index:0; }
	100%{ opacity:0; z-index:0; }
}
